{% extends 'base.html.twig' %}

{% block title %}Plan Analytique{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Plan de Comptes Analytiques</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Comptabilité</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Plan Analytique</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                        <h4 class="card-title">Plan de Comptes Analytiques</h4>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#form-dialog"><i class="fa fa-plus-circle" aria-hidden="true"></i> Creer un nouveau compte analytique</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">  
                        <div class="col-12">                   
                            <table class="table table-hover no-padding border" id="budgets">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Code</th>
                                        <th scope="col">Intitulé</th>
                                        <th scope="col">Total des coûts</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>                            
                    </div>
                   

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="form-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info text-light">
                    <h5 class="modal-title" id="exampleModalLabel">Creer un nouveau compte analytique</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="form">
                        <div class="form-group row">
                            <label for="code" class="col-form-label col-sm-5 required">Code analytique</label>
                            <div class="col-sm-7">
                                <input type="text" id="code" name="code" required="required" class="form-control" palceholder="Code unique">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="libelle" class="col-form-label col-sm-5 required">Intitulé</label>
                            <div class="col-sm-7">
                                <input type="text" id="libelle" name="libelle" required="required" class="form-control" palceholder="Nom du budget">
                            </div>
                        </div>
                    
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    var budgets_lists = {{analytics|raw}};
    const refreshTable = function(budgets) {
        $('#budgets tbody').empty();
        $('#budgets tfoot').empty();        
        for (let index = 0; index < budgets.length; index++) {
            var budget = budgets[index];
            var markup = "<tr>";
            markup += "<td>" + budget.code + "</td>";
            markup += "<td>" + budget.libelle + "</td>";
            markup += "<td>" + printLocaleAmount(budget.cout) + "</td>";
            if (budget.cout != 0 && budget.cout != null) {
                markup += "<td><a class='btn' href='/comptabilite/analytique/"+ budget.id +"'><i class='fa fa-eye' aria-hidden='true'></i></a></td>";
            } else {
                markup += "<td><a href='#' class='btn disabled'><i class='fa fa-eye' aria-hidden='true'></i></a></td>";
            }
            
            markup += "</tr>";
            $('#budgets tbody').append(markup);                   
        }
    }
    refreshTable(budgets_lists);

    $("#form").submit(function(event){
        event.preventDefault(); 
        var post_url = window.location.href;
        var form_data = $(this).serialize();
        console.log(form_data);
        $.post( post_url, form_data, function(response) {
            if (response.hasError == false) {
                console.log('success');
                budgets_lists.push(response.analytique);
                refreshTable(budgets_lists);
                $('#form-dialog').modal('hide');
            } else {
                console.log('error');
            }                   
        });
    });
</script>
{% endblock %}