{% extends 'base.html.twig' %}

{% block title %}Plan analytique{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Plan analytique</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Comptabilité</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Plan analytique</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Plan analytique</h4>
                    <hr>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <table class="table table-hover table-bordered mini-table m-t-20 no-padding" id="soins">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Code analytique</th>
                                        <th scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            
                            <div class="row">
                                <div class="col-md-12"><label>Ajouter nouveau compte analytique</label> </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <form id="addsoin" class="form-inline">
                                        <div class="row">           
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="add_code" required="required" placeholder="Code analytique">
                                            </div>
                                            <div class="offset-1 col-sm-7 input-group">
                                                <input type="text" class="form-control" id="add_soin" required="required" placeholder="Description">
                                                <span class="input-group-btn"><button type="submit" class="btn btn-info"><i class="mdi mdi-library-plus"></i></button></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>  
                            <div class="row mt-2">
                                <div class="col-md-12">
                                {{ form_start(form) }}
                                    {{ form_widget(form.plan_analytique, {attr: {style:'display:none;'}}) }}
                                    <div class="form-row">
                                        <div class="col-12 text-right">
                                            <button type="submit" class="btn btn-success">Enregistrer <i class="mdi mdi-keyboard-return"></i></button>
                                        </div>
                                    </div>                                                     
                                {{ form_end(form) }} 
                                </div>
                            </div>                                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() { 
            String.prototype.capitalize = function() {
                return this.charAt(0).toUpperCase() + this.slice(1);
            };

            var soins = JSON.parse($('#form_plan_analytique').val());
            for (const [key, value] of Object.entries(soins)) {
                var markup = "<tr><td class='code'>"+ key +"</td>";
                markup += "<td class='soin'>" + value + " <span class='float-right actions'><a class='edit mr-1'><i class='ti-pencil-alt'></i></a><a class='remove' style='color:#f62d51;'><i class='ti-trash'></i></a></span></td></tr>";
                $('#soins tbody').append(markup);                   
            }

            $('#addsoin').submit(function(e) {
                e.preventDefault();
                var code = $('#add_code').val().toUpperCase();
                var designation = $('#add_soin').val().capitalize();
                soins[code] = designation;
                $('#form_plan_analytique').val(JSON.stringify(soins));
                var row = $('#soins tbody tr').find('.code:contains('+code+')');
                if (row.length != 0) {
                    row.parent().find('.soin').text(designation);
                } else {
                    var markup = "<tr><td class='code'>"+ code +"</td>";
                    markup += "<td class='soin'>" + designation + " <span class='float-right actions'><a class='edit mr-1'><i class='ti-pencil-alt'></i></a><a class='remove' style='color:#f62d51;'><i class='ti-trash'></i></a></span></td></tr>";
                    $('#soins tbody').append(markup);
                } 
                $('#add_code').removeAttr('readonly');
                $(this).trigger("reset");
            }); 

            $(document).on("click", ".edit", function(e) {
                var row = $(this).parent().parent().parent();
                var code = row.find('.code').text();
                var soin = row.find('.soin').text();
                $('#add_code').val(code);
                $('#add_code').attr('readonly', 'readonly');
                $('#add_soin').val(soin);
            });

            $(document).on("click", ".remove", function(e) {
                var row = $(this).parent().parent().parent();
                var code = row.find('.code').text();
                var soin = row.find('.soin').text();
                row.remove();
                delete soins[code];
                $('#form_plan_analytique').val(JSON.stringify(soins));
            });
        });
    </script>
{% endblock %}