{% extends 'base.html.twig' %}

{% block title %}Plan Budgetaire{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Plan Budgetaire</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Comptabilité</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Plan Budgetaire</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-8">
                      <h4 class="card-title">Etat budgetaire de l'année {{app.session.get('exercice').annee}}</h4>
                    </div>
                    <div class="col-4">
                      <button class="btn btn-sm btn-info float-right" data-toggle="modal" data-target="#form-dialog"><i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter un nouveau poste budgetaire</button>
                    </div>
                </div>
                    <hr>
                    <div class="row">                       
                        <table class="table table-hover table-striped no-padding border" id="budgets">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Sens</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Budget</th>
                                    <th scope="col">Prévision</th>
                                    <th scope="col">Réalisé</th>
                                    <th scope="col">Ecart</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot class="bg-light font-weight-bold"></tfoot>
                        </table>                            
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="form-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info text-light">
                    <h5 class="modal-title" id="exampleModalLabel">Creer un nouveau poste budgetaire</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{path('add_budget')}}" id="form">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-5 required">Type de budget</label>
                            <fieldset class="col-sm-7">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="input" id="" value="1"> Entrée
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="input" id="" value="0"> Sortie
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group row">
                            <label for="code" class="col-form-label col-sm-5 required">Code budgetaire</label>
                            <div class="col-sm-7">
                                <input type="text" id="code" name="code" required="required" class="form-control" palceholder="Code unique">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="libelle" class="col-form-label col-sm-5 required">Libellé</label>
                            <div class="col-sm-7">
                                <input type="text" id="libelle" name="libelle" required="required" class="form-control" palceholder="Nom du budget">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="prevision" class="col-form-label col-sm-5 required">Montant prévision</label>
                            <div class="col-sm-7">
                                <input type="number" id="prevision" name="prevision" required="required" class="form-control">
                            </div>
                        </div>
                    
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">OK</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    var budgets = {{budgets|raw}};
    const refreshTable = function() {
        $('#budgets tbody').empty();
        $('#budgets tfoot').empty();

        var totB=0,totR=0;
        
        for (let index = 0; index < budgets.length; index++) {
            var budget = budgets[index];
            var markup = "<tr>";
            if (budget.input == true)
                markup += "<td><span class='label label-success label-rounded'><i class='mdi mdi-arrow-right-bold'></i></span></td>";
            else 
                markup += "<td><span class='label label-danger label-rounded'><i class='mdi mdi-arrow-left-bold'></i></span></td>";
            markup += "<td>" + budget.code + "</td>";
            markup += "<td>" + budget.libelle + "</td>";
            markup += "<td>" + printLocaleAmount(budget.montant) + "</td>";
            markup += "<td>" + printLocaleAmount(budget.realise)+ "</td>";
            markup += "<td>" + printLocaleAmount(budget.montant - budget.realise)+ "</td>";
            if (budget.realise != 0) {
                markup += "<td><a class='btn' href='/comptabilite/budget/"+ budget.id +"'><i class='fa fa-eye' aria-hidden='true'></i></a></td>";
            } else {
                markup += "<td><a href='#' class='btn disabled'><i class='fa fa-eye' aria-hidden='true'></i></a></td>";
            }
            markup += "</tr>";
            totB += budget.montant;  
            totR += budget.realise;
            $('#budgets tbody').append(markup);                   
        }
    }
    refreshTable();
    $("#form").submit(function(event){
        event.preventDefault(); 
        var post_url = $(this).attr("action");
        var form_data = $(this).serialize();        
        $.post( post_url, form_data, function(response) {
            if (response.hasError == false) {
                console.log('success');
                budgets.push(response.budget);
                refreshTable();
                $('#form-dialog').modal('hide');
            } else {
                console.log('error');
            }                   
        });
    });
</script>
{% endblock %}