{% extends 'base.html.twig' %}

{% block title %}Les journaux comptables{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Selection de journaux comptables</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Comptabilité</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Journal</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Journaux comptables</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-10 table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Type</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Intitulé du journal</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for code in codes %}
                                    <tr>
                                        <td><span class="mdi {% if code.type == 'trésorerie' %}mdi-bank {% else %}{% if code.type == 'standard' %}mdi-arrow-compress {% else %}mdi-arrow-right{% endif %}{% endif %}"></span></td>
                                        <td>{{ code.codeJournal }}</td>
                                        <td>{{ code.titre }}</td>
                                        <td><a href="{{ path('comptabilite_journal', { journal: code.codeJournal }) }}" class="label btn-info label-info"> saisie </a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
