{% extends 'base.html.twig' %}

{% block title %}Inscrire adhérent{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Inscription adhérent</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Adhésion</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Inscription</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Introduction</h4>
                    <hr>
                    <p>Xtreme admin is a popular open source WebApp template for admin dashboards and control panels. Xtreme is fully responsive HTML template, which is based on the CSS framework <span class="text-danger">Bootstrap 4</span>. It utilizes all of the Bootstrap components in its design and re-styles many commonly used plugins to create a consistent design that can be used as a user interface for backend applications. Xtreme is based on a modular design, which allows it to be easily customized and built upon. This documentation will guide you through installing the template and exploring the various components that are bundled with the template.</p>
                    <p>We put a lot of love and effort to make Xtreme Admin a useful template for everyone and now It comes with 10 unique demos. We are keen to release continuous long term updates and lots of new features will be coming soon in the future releases. Once you purchased Xtreme Admin, you will be entitled to free download of all future updates for the same license.</p>
                    <div class="p-4 border shadow-sm rounded">
                        <h4 class="card-title">Support</h4>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 border-right">
                                <ul class="list-style-none">
                                    <li class="my-2 border-bottom pb-3">
                                        <span class="font-weight-medium text-dark"><i class="icon-note mr-2 text-success"></i> Includes:</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-success"></i> Answering your questions or problems regarding the template.</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-success"></i> Giving solution to the Bugs reported.</span>
                                    </li>	
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-style-none">
                                    <li class="my-2 border-bottom pb-3">
                                        <span class="font-weight-medium text-dark"><i class="icon-note mr-2 text-danger"></i> Does Not Includes:</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-danger"></i> Custmaization Work</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-danger"></i> Any Installation Work</span>
                                    </li>	
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-danger"></i> Support for any Third Party Plugins / Software</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-danger"></i> Support or Guide for How to integrate with any technologies (like, PHP, .net, Java etc)</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-danger"></i> Solve bug in your implemented template</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
